/*=========================
IFT 2821 - General
=========================*/

html, body{
    height: 100%;
    min-height: 100%;
    background: #303030;
}

body{
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

body, p{
    font-family: @kreg;
    font-size: 15px;
    color: #fff;
}

pre{
    background: transparent;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #fff;
    white-space: pre-line;
    word-break: normal;
}

.container, .container-fluid{
    padding: 0 5%;
}

.content{ 
    padding: 25px 0; 
    
    /*&.content-program{
        padding-bottom: 65px;
    }*/
}

p.small{
    font-size: 11.8px;
}

#site-main{
    padding-top: 80px;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}

a{
    color: #fff;
    -webkit-transition: all .25s;
    transition: all .25s;
    
    &:focus, &:hover{
        color: #fff;
        outline: 0;
        text-decoration: none;
    }
    
    &:after{
        -webkit-transition: all .25s;
        transition: all .25s;
    }
}

.button{
    font-size: 16.5px;
    text-transform: uppercase;
    font-family: @kreg;
    letter-spacing: 2px;
    display: inline-block;
    line-height: 1em;
    padding: 13px 19px 12px;
    background: @reddark;
    color: #fff;
    text-align: center;
    min-width: 150px;
    margin-top: 10px;
    -webkit-box-shadow: 3px 3px 8px #750000;
    box-shadow: 3px 3px 8px #750000;
    
    &:hover, &:focus{
        color: @reddark;
        background: #fff;
    }
    
    &.disabled:hover &.disabled:focus{
        color: #fff;
        background: @reddark;
    }
}

.submit{
    display: block;
    color: #c9c9c9;
    border: 2px solid #c9c9c9;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 10px;
    margin-top: 23px;
    line-height: 1.1em;
    -webkit-transition: all .25s;
    transition: all .25s;
    
    &:hover{
        color: @red;
        border-color: #fff;
        background: #fff;
    }
}

#wrap{
    height: 100%;
    position: relative;
    -webkit-transition: all .8s;
    transition: all .8s;
    background: -webkit-radial-gradient( center, circle, #dc4040, #ba0000);
    background:    -moz-radial-gradient( center, circle, #dc4040, #ba0000);
    background:     -ms-radial-gradient( center, circle, #dc4040, #ba0000);
    background:      -o-radial-gradient( center, circle, #dc4040, #ba0000);
    background:         radial-gradient( circle at center, #dc4040, #ba0000);
}

.title{
    font-family: @kbold;
    letter-spacing: 0.2em;
    font-size: 34px;
    text-transform: uppercase;
    line-height: 1.1em;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.small-title, .small-subtitle{
    font-family: @kbold;
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    
    &.reg{ font-family: @kreg; }
}

.small-title + .small-subtitle{
    margin-top: -19px;
}

.small-subtitle{
    font-family: @klight;
    
    i{ 
        display: inline-block;
        font-size: 15px;
        margin-top: -2px;
        margin-right: 2px;
        vertical-align: middle;
    }
}

.icon-arrow-right{
    display: inline-block;
    
    &.left{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.back{
    display: inline-block;
    width: 50px;
    height: 17px;
}

/* helpers */
.hover-border{
    &:before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 2px solid #fff;
        opacity: 0;
        -webkit-transition: all .25s;
        transition: all .25s;
    }
    
    &:hover:before{
        opacity: 1;
    }
}

.go-btn{
    &:after{
        font-family: "icomoon";
        content: "\e906";
        position: absolute;
        font-size: 13px;
        color: #fff;
        right: 16px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

#welcome + .wrap-more-infos{ display: none; }
.more-infos{
    /*position: absolute;
    bottom: 35px;
    left: 0; right: 0;*/
    margin: 0 auto;
    display: inline-block;
    text-transform: none;
}