/*=========================
IFT 2821 - Helpers
=========================*/

.navbar{
    -webkit-border-radius: 0;
    border-radius: 0;
}

.row.table{
    margin: 0;
    width: 100%;
    height: 100%;

    > div{
	    overflow: hidden;
	    height: 100%;
        display: table-cell;
        vertical-align: top;
        float: none;
        position: relative;
    }
}

img{
	max-width: 100%;
}

.valign{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.full-width{
    width: 100%;
}

.in-block{
    display: inline-block;
    vertical-align: top;

    &.middle{
        vertical-align: middle;
    }
}

input, select, textarea{
    width: 100%;
    border: 1px solid #bbb8ad;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    background: transparent;
    padding: 16px 20px;
    font-size: 16.5px;
    letter-spacing: 1.5px;
    color: #fff;
    resize: none;

    &:focus{ outline: 0; }
}

textarea{
    height: 173px;
}

.styled-select{
    position: relative;

    select{
        position: relative;
        cursor: pointer;
        z-index: 2;
        -moz-appearance: none;
        -webkit-appearance: none;
        text-align: left;
        background-color: transparent;
        background-image:url('../img/icons/arrow-down-white.png');
        background-position: right 20px center;
        background-repeat: no-repeat;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
}

::-webkit-input-placeholder {
   color: #fff;
   opacity: 0.6;
}

:-moz-placeholder { 
   color: #fff;
   opacity: 0.6;
}

::-moz-placeholder { 
   color: #fff;
   opacity: 0.6;
}

:-ms-input-placeholder {  
   color: #fff;
   opacity: 0.6;
}
