/*=========================
IFT 2821 - Home / Welcome
=========================*/

#welcome{
    padding-left: 10px;
    padding-right: 10px;
}

.wrap-program{
    margin-top: -7px;
    
    &:after{
        content: "";
        display: table;
        clear: both;
    }

    .title{
        font-size: 18px;

        > div{ 
            display: table; 
            height: 50px; 
            margin: 0 auto 20px;
        }

        span{
            display: table-cell;
            vertical-align: bottom;  
        }

        img{
            width: 34px;
            height: auto;

            &.hat{ width: 48px; }
            &.pin{ width: 31px; }
        }
    }
    
    .single-program{
        background: @reddark;
        padding: 10px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        position: relative;
        display: block;
        margin-bottom: 20px;
        height: 130px;
        -webkit-transition: none;
        transition: none;
        
        &:after{
            font-family: "icomoon";
            content: "\e907";
            position: absolute;
            color: #fff;
            font-size: 10px;
            right: 17px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        
        &:before{
            border-width: 3px;
        }
    }
}