/*=========================
IFT 2821 - Icomoon
=========================*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vb4bgh');
  src:  url('../fonts/icomoon.eot?vb4bgh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vb4bgh') format('truetype'),
    url('../fonts/icomoon.woff?vb4bgh') format('woff'),
    url('../fonts/icomoon.svg?vb4bgh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e913";
}
.icon-arrow-right-slim:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e912";
}
.icon-book-bold:before {
  content: "\e90e";
}
.icon-involve-bold:before {
  content: "\e90f";
}
.icon-list-bold:before {
  content: "\e910";
}
.icon-address-book:before {
  content: "\e909";
}
.icon-doc:before {
  content: "\e90a";
}
.icon-form:before {
  content: "\e90b";
}
.icon-list:before {
  content: "\e90c";
}
.icon-stetoscope:before {
  content: "\e90d";
}
.icon-arrow-right-circle:before {
  content: "\e906";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-book:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-integrate:before {
  content: "\e902";
}
.icon-involve:before {
  content: "\e903";
}
.icon-power:before {
  content: "\e904";
}
.icon-settings:before {
  content: "\e905";
}