/*=========================
IFT 2821 - Management
=========================*/

.program-head-inner{
        
    .small-title{
        padding-bottom: 7px;
        border-bottom: 1px solid @redlight;

        &.no-border{
            border: 0;
            margin-bottom: 0;
        }

        .back{
            position: absolute;
            left: 4px;
            font-size: 14px;
            bottom: 7px;
        }

        i{ font-size: 14px; }

        + .small-subtitle{
            margin-top: -7px;
        }

        + .small-title{
            border-bottom: 0;
            margin-bottom: 0;
            font-size: 10.15px;

            + .small-subtitle{
                font-size: 10.15px;
            }
        }
    }
}

.content-program{
    
    .index-content{
        margin-top: 42px;
        
        .small-title, p{
            font-size: 14.5px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        
        .small-title{
            margin-bottom: 4px;
        }
        
        p{ 
            ont-family: @klight;
            letter-spacing: 0.5px;
            line-height: 1.7em;
        }

        .textbox{
            width: 100%;
            height: 450px;
            padding: 20px;
            color: #fff;
            font-size: 14px;
            border: 2px solid @redlight;
            text-align: left;
            overflow: hidden;
            overflow-y: scroll;
        }
    }
}

.single-btn{
    background: @reddark;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    text-align: left;
    padding: 7px 12px;
    line-height: 1em;
    margin-bottom: 4px;
    display: block;
    
    > i, > span, > div{
        display: inline-block;
        vertical-align: middle;
        font-size: 14.2px;
        margin-right: 8px;
    }
    
    &:hover, &.active{
        i, span, &:after, &:before{
            color: #fff;
            opacity: 1;
        }
    }

    i{
        font-size: 17px; 
        width: 14px;

        &.icon-doc{ font-size: 14px; }
        &.icon-close{ font-size: 13px; }
    }

    span{
        font-family: @klight;
        margin-right: 0;
        letter-spacing: 1px;
    }
    
    .small-title, .profile-progress{
        margin-bottom: 0;
        margin-right: 0;
        font-size: 11.8px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.wrap{ padding-bottom: 15px; }

.wrap-indexes{

    .single-btn{
        &.completed{
            background: #11d9c0;

            i, span, &:after{
                color: @reddark;
            }
            
            &:after{
                content: "\e908";
                -webkit-transition: all .2s;
                transition: all .2s;
            }
        }

        &.opened:after{
            -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
        }
    }
}

.wrap-profiles{
    .single-btn{
        margin-bottom: 22px;
        
        &:hover:after, &.active:after{
            color: @red;
        }
    }
}

form.program-form{
    display: none;
    margin: 30px 0;

    .row > div{ 
        margin-bottom: 10px; 

        &:last-child{ margin: 0; }
    }

    label, input{
        display: inline-block;
        vertical-align: middle;
    }

    .fill-req label{ padding: 0; }

    label{ 
        font-size: 14px; 
        font-weight: normal; 
        width: 45%;
        text-align: right;
        padding-right: 14px;
        margin: 0;
    }

    input, select{ 
        width: 55%; 
        margin: 0; 
        color: #fff;
        font-size: 14px;
        padding: 10px 14px;

        &[type="submit"]{ width: 50%; }
    }

    select{ 
        width: 100%; 

        option{ 
            background-color: @red; 
        }
    }
}
