/*=========================
IFT 2821 - Nav
=========================*/

header.navbar{
    background: @reddark;
    margin: 0;
    border: 0;
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    z-index: 9999;
    
    .navbar-brand{
        display: block;
        padding: 6px 0 0 0;
        margin-left: 14px !important;
        
        .brand-icon, .brand-text{
            display: inline-block;
            vertical-align: middle;
            margin-right: 2px;
        }
        
        .brand-icon{
            img{ width: 42px; }
        }
    }
}

.brand-text{
    color: #fff;
    line-height: 0.8em;
    margin-top: 5px;

    span{
        font-size: 16.6px;
        display: block;
        letter-spacing: 0.6px;

        &:last-child{
            font-family: @klight;
            font-size: 8px;
            letter-spacing: 0.3px;
        }
    }
}

#status{
    position: fixed;
    top: 60px; left: 0;
    width: 100%;
    z-index: 9999;

    p{ margin: 0; font-size: 13px; }
}