/*=========================
IFT 2821 - Responsive
=========================*/

@media (max-width:1299px){

    .title{ font-size: 30px; }
}

@media (min-width:992px){
    
    /* General */
    body, p{
        font-size: 19px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    p{ 
        margin-bottom: 20px; 
        line-height: 1.5em;
    }
    
    .container{
        padding: 0 15px;
    }
    
    .content{
        padding-top: 95px;
        padding-bottom: 40px;
        
        /*&.content-program{
            padding-bottom: 90px;
        }*/
    }
    
    .button{
        font-size: 24px;
        min-width: 230px;
        padding: 19px 26px 17px;
        letter-spacing: 3px;
        margin-top: 25px;
    }
    
    .brand-text{
        line-height: 1.6em;
        
        span{
            font-size: 29px;
            letter-spacing: 0.8px;

            &:last-child{
                font-size: 12.5px;
                letter-spacing: 0.5px;
                -webkit-font-smoothing: auto;
                -moz-osx-font-smoothing: auto;
            }
        }
    }
    
    .small-title{ letter-spacing: 2px; }
    
    .small-title, .small-subtitle{
        font-size: 21px;
    }
    
    .small-title + .small-subtitle{
        margin-bottom: 70px;
    }
    
    .small-subtitle i{ font-size: 20px; }
    
    .hover-border:before{
        border-width: 3px;
    }
    
    .wrap-program .single-program:before{
        border-width: 4px;
    }
    
    .go-btn:after{ 
        font-size: 20px; 
        right: 30px;
    }
    
    .nav-program > li > a{
        font-size: 21px;
        height: 62px;
        
        span i{ top: -3px; }
    }
    
    /* Nav */
    header.navbar{
        height: 80px;
        
        .navbar-brand{
            margin-left: 35px !important;
            
            .brand-icon{
                margin-right: 15px;

                img{
                    width: 58px;
                }
            }
        } 
    }

    #status{
        top: 91px;

        p{ font-size: 16px; }
    }
    
    /* Welcome */
    #welcome{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-top: 40px;
        
        .small-title{
            font-size: 30px;
            letter-spacing: 2px;
        }
        
        p{
            font-size: 18px;
        }
    }
    
    /* Home */
    #program{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-top: 0;
        
        .container-fluid > .small-title,
        .container-fluid > .small-subtitle{
            font-size: 30px;
            letter-spacing: 2px;
        }
    }
    
    .wrap-program{
        
        .single-program{
            width: ~"-webkit-calc(50% - 10px)";
            width: ~"calc(50% - 10px)";
            float: left;
            height: 180px;
            margin-right: 20px;
            
            &:nth-child(2n){ margin-right: 0; }
            
            .title{
                font-size: 34px;

                &:before{
                    font-size: 45px;
                    left: 0; right: 0;
                    margin: 0 auto;
                }
            }
            
            &:after{ display: none; }
        }
    }
    
    /* Single management */
    .program-head-inner .small-title{
        font-size: 30px;
        
        > i{ 
            font-size: 28px;
        }
        
        + .small-subtitle{
            font-size: 26px;
            letter-spacing: 2px;
        }
        
        .back{
            bottom: 12px;
            width: 100px;
            height: 30px;
            
            i{ font-size: 22px; }
        }
    }
    
    .content-program .index-content{
        
        > div:first-child{
            padding-left: 6%;
            padding-right: 6%;
            
            .small-title, p{
                font-size: 35px;
                line-height: 1.85em;
            }
            
            p{
                font-size: 32px;
                font-family: @klight;
                letter-spacing: 2.5px;
            }
        }
    }
    
    /* Patient profiles */
    .program-head-inner .small-title{
        padding-bottom: 14px;
        
        + .small-title{
            font-size: 18px;

            + .small-subtitle{ 
                font-size: 20px; 
                margin-bottom: 50px;
            }
        }
    }
    
    .single-btn{
        padding: 15px 14px;
        
        margin-bottom: 7px;
        
        > i, > div, > span{
            font-size: 25px;
            letter-spacing: 2px;
            margin-right: 14px;
        }

        > span{ font-size: 20px; }
        
        i{
            width: 28px;
            
            &.icon-doc{ font-size: 20px; }
            &.icon-close{ font-size: 17px; }
            &.icon-list{ font-size: 22px; }
        }
        
        .small-title, .profile-progress{
            font-size: 20px;
        }
    }
    
    .wrap-profiles .single-btn{
        margin-bottom: 34px;
        padding: 16px;
    }
    
    .next-step{ font-size: 16px; }
    
    input[type="text"], input[type="email"], input[type="date"], input[type="submit"], input[type="button"], input[type="password"], textarea{
        font-size: 22px;
        padding: 18px 24px;
        margin-right: 14px;
        width: 80%;
        max-width: 80%;
    }
    
    .submit br{ display: none; }
    
    .wrap-congratulations img{
        height: 500px;
    }
}

@media (min-width:1200px){

    .single-btn > span{ font-size: 25px; }

    .wrap-program{
        
        .single-program{
            width: ~"-webkit-calc(25% - 20px)";
            width: ~"calc(25% - 20px)";
            margin-right: 20px;
            height: 240px;
            
            &:nth-child(2n){ margin-right: 20px; }
            &:nth-child(4n){ margin-right: 0; }
        }
    }
}
