/*=========================
IFT 2821 - Variables
=========================*/

@kbold : 'kelson_sansbold';
@kreg : 'kelson_sansregular';
@klight : 'kelson_sanslight';

@graylight: #6a6a6a;
@grayborder : #e9e9e9;
@yellow : #fbea5d;
@green : #17f3bd;

@reddark : #9e0202;
@red : #c80d0d;
@redlight: #d55353;